@model IEnumerable<RosesResort.Models.Prenotazione>

@{
    ViewBag.Title = "ListaPrenotazioni";
}

<h2>ListaPrenotazioni</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDprenotazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPrenotazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaggioneDiAnno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checkin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checkout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acconto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDclienti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDstanza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tariffa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDprenotazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPrenotazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaggioneDiAnno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checkin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checkout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acconto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ospite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDstanza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tariffa)
        </td>
        <td>
            @Html.ActionLink("✏", "Edit", new { id = item.IDprenotazione }) |
            @Html.ActionLink("🔎", "Details", new { id = item.IDprenotazione }) |
            @Html.ActionLink("🗑", "Delete", new { id = item.IDprenotazione }) |
        </td>
    </tr>
}

</table>
