@model IEnumerable<RosesResort.Models.clienti>

@{
    ViewBag.Title = "ListaClienti";
}

<h2>Lista Clienti<span> <i class="bi bi-person">@Html.ActionLink("+", "Create")</i></span></h2>

<p class="text-danger bg-warning">@ViewBag.msg</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDcliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDcliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodiceFiscale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            <i class="bi bi-pencil">@Html.ActionLink("Modifica", "Edit", new { id = item.IDcliente })</i> |
            <i class="bi bi-trash3">@Html.ActionLink("Elimina", "Delete", new { id = item.IDcliente })</i> |
        </td>
    </tr>
}

</table>
